<div class="container-fluid">
  <div class="row">
    <div class="col">
      <span class="titulo" >FRONTEND DEVELOPER <mat-icon>restore_from_trash</mat-icon></span>
    </div>
    <div class="col">
      <span class="textoCoupon" >Do you have a discount coupon? </span>

      <form class="example-form">
        <mat-form-field  class=" inputCoupon example-full-width">
          <input  matInput placeholder="Write here your coupon" >
          <mat-icon class="searchIcon">search</mat-icon>
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="row rowImagem">
    <div class="col">
    <span class="coupon">One position available every month.</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class="imagem" src="assets/juntos.svg" width="15%"/>
    </div>
  </div>
  <div class="row rowBotoes">
    <div class="col-6 colBotaoPersonal" >
      <button class="botaoClean">CLEAN CART</button>
    </div>
    <div class="col colBotaoCompany">
      <button class="botaoNext" matStepperNext>NEXT</button>
    </div>
  </div>
</div>


