
<div class="container-fluid">
  <div class="row grid">
    <div class="col-sm align-self-center">
      <span><a routerLink="" class="tituloRodape">STEEVANZ</a></span>
    </div>
    <div class="col-sm align-self-center">
      <div class="row">
          <span class="quemSomos">Who We Are</span>
      </div>
      <div class="row">
          <span class="faqs">FAQs</span>
      </div>
      <div class="row">
          <span class="contacts">Contacts</span>
      </div>
    </div>
    <div class="col-sm align-self-center">
      <div class="row">
        <span class="complaints">Complaints Book</span>
      </div>
      <div class="row">
          <span class="termos">Terms and Conditions</span>
      </div>
    </div>
    <div class="display col align-items-end">
      <div class="steps">
        <button mat-icon-button class="menu-icon example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon class="material-icons">facebook</mat-icon>
        </button>
      </div>
      <div class="steps">
        <button mat-icon-button class="menu-icon example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon class="material-icons">facebook</mat-icon>
        </button>
      </div>
      <div class="steps">
        <button mat-icon-button class="menu-icon example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon class="material-icons">facebook</mat-icon>
        </button>
      </div>
      <div class="steps">
        <button mat-icon-button class="menu-icon example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon class="material-icons">facebook</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
