<mat-toolbar class="header">
    <span><a routerLink="" class="titulo">STEEVANZ</a></span>

  <span class="espacamento"></span>

  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">

    <a router-link="/language">
      <mat-icon>language</mat-icon>
    </a>
  </button>

  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>account_circle</mat-icon>
  </button>

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>local_mall</mat-icon>
  </button>

  <button mat-icon-button class="example-icon">
    <mat-icon class="menu-icon">menu</mat-icon>
  </button>
</mat-toolbar>
