<div class="container-fluid">
  <div class="row ">
    <div class="col-6">
      <div class="titulo">FRONTEND DEVELOPER</div>
      <div class="descricao">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s.
      </div>
      <div class="row teste">
        <div class="col align-self-end">
          <span class="preco">50€</span>
          <span class="prazo">per month</span>
        </div>
        <div class="col align-self-end">

            <button class="subscribe" routerLink="step">SUBSCRIBE</button>

        </div>
      </div>
    </div>
    <div class="col align-self-end">
      <img class="imagem" src="assets/services.svg" width="90%"/>
    </div>
  </div>
</div>
