.container-fluid{
  margin-top: 70px;
  margin-bottom: 200px;
}
.teste{
  height: 200px;
}

.titulo {
  color: #FFFFFF;
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 42px;
  display: flex;
  align-items: center;
}

.descricao {
  color: #FFFFFF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  margin-top: 50px;
}

.preco {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
}

.prazo {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-left: 20px;
}

.subscribe {
  justify-content: center;
  align-items: center;
  width: 164px;
  height: 33px;
  background: #1A1A1A;
  border: 1px solid #FFFFFF;
  border-radius: 33px;
  color: #FFFFFF;
  cursor: pointer;
}
