<div class="body">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="col colTitulo">
          <span class="titulo">STEEVANZ</span>
        </div>
        <div class="row">
          <div class="col">
            <span class="congrat">Congratulations!</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span class="evaluated">You will be evaluated in the next few days.</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span class="texto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s.
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a routerLink="">
              <button class="homeButton" >HOME</button>
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <img class="imagem" src="assets/congrat.svg" width="80%" />
      </div>
    </div>
  </div>

</div>
